/*  your css code here. If applicable */
body
{
	margin: 0px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}
#card
{
	height: 500px;
	width:  300px;
	
	background-color: rgb(245, 245, 245);
	/* display: flex; */
	/* justify-content: center; */
	/* flex-direction: column; */
	text-align: center;
	padding: 5%;
}

h1
{
	font-size: 50px;
	margin: 0px;
}

p
{
	font-size: 30px;
	margin: 0px;
}

button
{
	font-size: 30px;
	color: white;
	background-color: rgb(255, 99, 97);
	height: 60px;
	width: 160px;
	border: none;
	border-radius: 15px;
	margin: 10px;
	
}